* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.header {
    display: flex;
    height: 120PX;
    justify-content: space-between;
    align-items: center;
    padding: 40PX 300px;

    background-color: #EEEBEC;
}


.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    
}

.nav-links li {
    list-style: none;
    /* display: inline-block; */
    color: #7A6666;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* margin-right: 10px; */
    

}
.nav-links li a{
    text-decoration: none;
    color: #7A6666;
}

.abouthead{
    
    width: 100%;
    background-color: #C8C10D;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
    padding: 20px 200PX;
    font-size: xx-large;

}
.mapimg{
    background-image: url(../../images/map.jpg);
    height: 250px;
    display: flex;
    align-items: center;
  
}
.location-container{
    height: 150px;
   
    margin: 0px 350px;
    padding: 0px 100px;
   display: flex;
   flex-direction: row;
   background-color: #ffffffaf;
}
.loc-img-box{
    background-image: url(../../images/check-in.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    
    
    width: 20%;
    
   
}
.loc-details{
   margin: 30px 0px;
    height: 90px;
   
    width: 80%;  
   
}
 h3{
    font-size: x-large;
    font-weight: 400;
color: #CB3362;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color:#7A6666;
    line-height: 22px;
    
}

.contact-container{
 
    height: 100vh;
    margin: 0px 300px;
    display: flex;
    
}
.leftcontainer{
  
    height: 80vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 25px;
    
}
.rightcontainer{
   
    height: 30vh;
    width: 25vw;
    margin: 40px 25px;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #EFEDEE;
}
.rightcontainer p{
    margin: 0px 15px;
}
form{
    display: flex;
    flex-direction: column;

}
input{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color:#7A6666;
    height: 40px;
    margin: 5px 0px;
    padding: 5px;
    border: 1px solid #7A6666;
    border-radius: 2px;
}
textarea{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color:#7A6666;
    height: 250px;
    margin: 5px 0px;
    padding: 5px;
    border: 1px solid #7A6666;
    border-radius: 2px;
    resize: none;
}
button{
    background-color: white;
    color: #CB3362;
    border: 2px solid #CB3362;
    padding: 10px;
    cursor: pointer;
    width: 150px;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 700;
}
button:hover{
    background-color:#C8C10D;
   
}

footer {
    height: 250px;

    background-color: #CB3362;

    display: grid;
    justify-content: center;

}

.footer{
   
    margin: 50px 0;
    height: 100px;
}

.sociallinks {
    display: flex;
   column-gap: 30px;
   height: 50px;

   justify-content: center;   

}

.copyrigth{
   
    color: white;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 400;
}


.sociallinks a img {
    
    width: 30px;

}
a{
    color:#7A6666;
}
