<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frozen Yogurt Shop - product</title>
    <link rel="stylesheet" href="./product.css">
</head>
<body>
    <div class="header">
        <div class="logo"><img src="../../images/logo.png" alt=""></div>
        <nav>
            <ul class="nav-links">
                <li><a href="../../index.html">HOME</a></li>
                <li class="menu">
                    <a href="../about/about.html">ABOUT</a>
                    <ul id="selected" class="secondary">
                        <li>
                            <a href="../product/product.html">PRODUCT</a>
                        </li>
                    </ul>
                </li>
                <li class="menu">
                    <a href="../blog/blog.html">BLOG</a>
                    <ul id="selected" class="secondary">
                        <li>
                            <a href="../singlepost/singlepost.html">SINGLE POST</a>
                        </li>
                    </ul>
                </li>
                <li><a href="../contact/contact.html">CONTACT</a></li>
            </ul>
        </nav>
    </div>
    <div class="abouthead">
        PRODUCT
    </div>

    <div class="container">
        <div class="description">
            <h1>All Time Classic</h1>
            <p>This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text.</p>
        </div>
        <div class="elements">
            <div class="product-img1">
                <img src="../../images/kiwi.jpg" alt="">
                <h3>KIWI</h3>
            </div>
            <div class="product-img2">
                <img src="../../images/mango.jpg" alt="">
                <h3>MANGO</h3>
            </div>
            <div class="product-img3">
                <img src="../../images/cantaloupe.jpg" alt="">
                <h3>CANTALOUPE</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="description">
            <h1>Berry Special</h1>
            <p>Want an easier solution for a Free Website? Head straight to Wix and immediately start customizing your website!</p>
        </div>
        <div class="elements">
            <div class="product-img1">
                <img src="../../images/blackberry.jpg" alt="">
                <h3>KIWI</h3>
            </div>
            <div class="product-img2">
                <img src="../../images/strawberry.jpg" alt="">
                <h3>MANGO</h3>
            </div>
            <div class="product-img3">
                <img src="../../images/blueberry.jpg" alt="">
                <h3>CANTALOUPE</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="description">
            <h1>Fruit Blast</h1>
            <p>All Wix templates are fully customizable and free to use. Just pick one you like, click Edit, and enter the online editor. Change, add, and remove items as you like.</p>
        </div>
        <div class="elements">
            <div class="product-img1">
                <img src="../../images/grapes.jpg" alt="">
                <h3>KIWI</h3>
            </div>
            <div class="product-img2">
                <img src="../../images/green-apple.jpg" alt="">
                <h3>MANGO</h3>
            </div>
            <div class="product-img3">
                <img src="../../images/pineapple.jpg" alt="">
                <h3>CANTALOUPE</h3>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            <div class="sociallinks">
                <a href=""><img class="facebook" src="../../images/icons8-facebook-50.png" alt=""></a>
                <a href=""><img src="../../images/icons8-google-plus-24.png" alt=""></a>
                <a href=""><img src="../../images/icons8-pinterest-24.png" alt=""></a>
                <a href=""><img src="../../images/icons8-twitter-24.png" alt=""></a>
            </div>
            <div class="copyrigth">&copy; 2023 Freeeze. All Rights Reserved</div>
        </div>
    </footer>
</body>
</html>